/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.logo {
  width: 15%;
}

/* Menu */
header {
  position: relative;
  background: white;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 15px;
  display: flex;
  justify-content: space-between; /* The space-between value displays the flex items with space between them: */
  /* align-items: center; */
  padding: 20px;
  box-shadow: 5px 5px 5px grey;
}

.menu {
  display: flex;
  list-style: none;
  /* margin: 0;
  padding: 0; */
}

nav {
  display: flex;
  align-items: center;
}

.button-link {
  text-decoration: none; /* Removes the underline */
  font-family: Bodoni moda;
  font-size: 1.2rem;
  font-weight: 300; /* font tykkelse */
  color: black;
  padding: 20px;
  transition: transform 0.2s; /* Animation */
}

.button-link :hover {
  transform: scale(1.6);
}

body {
  background-color: rgb(234, 233, 228);
}

/* Burgermenu */
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 40%;
  }

  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
    /* Stregen bliver usynlig, når der bliver trykket, da den danner et kryds, kun med line 1 og 2 */
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
    z-index: 4;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

h1 {
  text-align: center;
  margin-top: 40px;
  font-family: Bodoni Moda;
}

h2 {
  font-family: Bodoni Moda;
}

a {
  text-decoration: none;
}

/* Forside - Kategorier */
.category_list_container {
  margin: 40px;
}

.category {
  width: 100%;
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 10px;
  background: white;
  box-shadow: 5px 5px 5px grey;
  a {
    width: 100%;
    /* border: 1px solid black; */
    padding: 5px;
    /* background: white; */
    font-family: Bodoni Moda;
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
    display: inline-block;
    text-align: center;
  }
}

.category:hover {
  background: rgb(234, 233, 228);
  a {
    background: rgb(234, 233, 228);
  }
}

.product_list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 40px;
}

.produkt {
  box-shadow: 5px 5px 5px grey;
  p {
    padding: 3px;
  }
  img {
    border: 1px solid black;
    height: auto;
    object-fit: cover;
  }
  .info {
    padding: 8px;
    border: 1px solid black;
    color: black;
  }
}

.produkt:hover {
  background: rgb(197, 197, 192);
}

.produkt_soldout {
  display: grid;
  p {
    grid-row: 1/2;
    grid-column: 1/2;
    place-self: start;
    font-family: inter;
    margin-top: 20px;
    font-size: 0.7rem;
    z-index: 2;
    background: rgb(22, 22, 22);
    color: white;
    padding: 8px;
    font-weight: 400;
    box-shadow: 2px 2px 2px grey;
  }
  img {
    opacity: 50%;
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.discount {
  display: grid;

  p {
    grid-row: 1/2;
    grid-column: 1/2;
    place-self: start end;
    font-family: inter;
    font-size: 0.7rem;
    margin-top: 20px;
    z-index: 2;
    background: rgb(211, 36, 36);
    color: white;
    padding: 8px;
    font-weight: 400;
    box-shadow: 2px 2px 2px grey;
  }
  img {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

/* Produkt detaljer */
.grid_2 {
  background-color: rgb(244, 244, 244);
  box-shadow: 5px 5px 5px grey;
  border: 1px solid black;
  margin: 40px;
  .sizes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    a {
      color: black;
    }
    a:hover {
      border-bottom: 1px solid black;
    }
  }
  h1 {
    text-align: left;
  }
  h2 {
    margin-bottom: 20px;
  }
  /* p {
    margin-bottom: 15px;
  } */
  img {
    border-bottom: 1px solid black;
  }
  .price_knap {
    display: flex;
    flex-direction: column;
    min-height: 170px;
    justify-content: end;
  }
  .detaljer {
    margin: 15px;
    .sale_price {
      color: rgb(211, 36, 36);
      margin-top: 8px;
    }
  }
  .knap {
    box-shadow: 5px 5px 5px grey;
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: inter;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.knap:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
@media (min-width: 800px) {
  /* Forside - Kategorier */
  .category_list_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .product_list_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 15px;
  }

  .produkt {
    display: grid;
    /* grid-template-columns: subgrid; */
    grid-row: span 3;
    gap: 0;
  }

  .produkt_soldout {
    display: grid;
    p {
      grid-row: 1/2;
      grid-column: 1/2;
      place-self: start;
      font-family: inter;
      margin-top: 20px;
      font-size: 1rem;
      z-index: 2;
      background: rgb(22, 22, 22);
      color: white;
      padding: 8px;
      font-weight: 400;
    }
    img {
      opacity: 50%;
      grid-row: 1/2;
      grid-column: 1/2;
    }
  }

  .discount {
    display: grid;
    p {
      grid-row: 1/2;
      grid-column: 1/2;
      place-self: start end;
      font-family: inter;
      font-size: 1rem;
      margin-top: 20px;
      z-index: 2;
      background: rgb(211, 36, 36);
      color: white;
      padding: 8px;
      font-weight: 400;
    }
    img {
      grid-row: 1/2;
      grid-column: 1/2;
    }
  }

  /* Produktdetaljer */
  .grid_2 {
    display: grid;
    grid-template-columns: 1fr 1.5fr;

    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2rem;
    }
    img {
      border-right: 1px solid black;
      border-bottom: none;
    }
    .knap {
      width: 40%;
    }
    .price_knap {
      display: flex;
      flex-direction: column;
      min-height: 280px;
      justify-content: end;
    }
    .detaljer {
      margin-left: 60px;
    }
  }
}
